extends  ../../../layout

block content
    h3 #{title}

    p
        | Congrats! that you have been selected to be one of our community of freelance recruiters.
        |  The first thing you need to is to make sure you keep this email somewhere safe.

    p Now, in order to get you on-boarded, we’ve put together some information on how to submit candidates:

    h3
        span(class="emphasis") Referring candidates

    p
        | When there’s a new job available, you’ll receive an email asking you to work on it.
        a(href="https://app.visage.jobs/")  Log in to your Visage account
        |  to review the candidate requirements.  If you’re happy to source for it, click on the ‘claim’ button.

    p Easy peasy right? Now just click on the ‘refer’ button and upload away.  Keep in mind though, we only accept files in PDF format. Our Experts will then review the CVs you’ve submitted and for every ‘validated’ candidate, you’ll be paid. If you want to see a list of all the jobs you’ve claimed, just click on the ‘my jobs’ section of the platform.


    p
        | Are you wondering how you’ll get paid?  We have our own payment platform 'Payoneer'.  Please confirm by email (
        a(href='mailto:recruiters.support@visage.ae') recruiters.support@visage.ae
        | ) one of the following:

    ul
        li
            span(class="emphasis")  You already have an account.
            |   If so, someone from our team will get in touch and set you up;

        li
            span(class="emphasis")  You do not have an account.
            |  No worries, we will send you an invite to register.

    p With every payment you will receive a detailed report with comments on each of your submitted CV's to let you know why they were approved or disqualified.

    h4
        span(class="emphasis") Keep in mind
    ul
        li
            span(class="emphasis")  Your CV's need to be approved by our Experts
            |  in order for you to get paid for them, so only claim jobs that you feel you’ll be able to find candidates for;


        li
            | You’re able to submit a maximum of
            span(class="emphasis")  99
            |  candidates per role

    p
        | If you have any questions, you can reach out to our Recruitment Support team by contacting Visage at
        = ' '
        a(href='mailto:recruiters.support@visage.ae') recruiters.support@visage.ae
        | .

    p Good Luck and thank you for using Visage.