extends  ../../../layout

block content
    h2 A new opening is available !
    h3 #{job.title}
    p
        | We have a new role which we would like you to work for us.
        | Please review carefully the full Job Description and Requirements
    a(target="_blank",href=jobsRecBaseURL + "/" + job._id, class="button")  Review the job
    p You have received an invitation email to be able to filter candidates for this opening.
    p We will provide you with the longlist soon.
    p You are responsible for clearing down the profiles list until the full shortlist is ready
    span
        h4(class="emphasis") Important :
        | If you did not receive the longlist from us within 5 days, please email us at
        a(href='mailto:experts.support@visage.ae')  experts.support@visage.ae
    p
        | Should you notice anything wrong or have any feedback about the app, please email us to
        a(href='mailto:experts.support@visage.ae')  experts.support@visage.ae
    p Kind Regards
