--
<div style="background-color: white; width: 100%;">
    <img alt=""
         src="https://ci4.googleusercontent.com/proxy/Ov3ndSHRsGme0W0xWdIyyjkmC5W-NGFMUW3ghlisV5a_AfUill836bvB2wrJdHJ6oiRGIfnyq3ycCR2y-FA-YWQ1nrWbSJjS=s0-d-e1-ft#http://demo2.arkinfosoft.com/sign/sign_joss/s2.png"
         class="CToWUd">
    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 549px;">
        <tbody>
        <tr>
            <td align="center"><font color="#1155cc" style="color:rgb(17,85,204)"><img border="0"
                                                                                       alt=""
                                                                                       src="https://ci5.googleusercontent.com/proxy/lwh9LSwzKKvTvykF2hyYH_XnNyWEWmqdsrUg33WKIDf_wFAMVHEMTpaQV0lzjNi8cYbM9_LZDSIxCWX9gAYN2h6fS8paCW3CTSI=s0-d-e1-ft#http://demo2.arkinfosoft.com/sign/sign_joss/logo.png"
                                                                                       class="CToWUd"></font><br><font
                    color="#737578" face="Calibri"><span
                    style="font-size:10.6666669845581px">Generation Y Recruitment</span></font><br>
                <hr>
                <table width="100%"
                       style="color:rgb(115,117,120);font-family:Arial;font-size:10pt;vertical-align:top;text-align: center;">
                    <tbody>
                    <tr>
                        <td><img alt=""
                                 src="https://ci3.googleusercontent.com/proxy/ZgH5dneaOUKa3YAZ942vhlGc3XD650S3THiB56RuuqjUOU1z5VzWnzu5SQrPhBEcPmXksTHvGbZqoIUYS_tJhzJnnupMlMtG7S9_=s0-d-e1-ft#http://demo2.arkinfosoft.com/sign/sign_joss/addrs.png"
                                 width="20" height="20" class="CToWUd"></td>
                        <td>Visage DMCC, AstroLabs, Cluster R<br>Jumeirah Lake Towers, Dubai, UAE
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
            <td style="width:10px"></td>
            <td valign="top">
                <table>
                    <tbody>
                    <tr>
                        <td><span style="color:rgb(78,181,166);font-family:Calibri;font-size:14pt"><span
                                class="il">Team at Visage</span></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table style="color:rgb(115,117,120);font-family:Arial;font-size:10pt;vertical-align:top;margin-top:5px">
                    <tbody>
                    <tr>
                        <td><img alt=""
                                 src="https://ci5.googleusercontent.com/proxy/Xdph12cvljxyDuaS8crPBOj1ahwkbKGvoeoEfG3EG39fClyK5syBeOUcW8XPNzJosbW6M6q4KS5ESbxsvYzDZ53Su5TuHegy=s0-d-e1-ft#http://demo2.arkinfosoft.com/sign/sign_joss/ph.png"
                                 width="20" height="20" class="CToWUd"></td>
                        <td>+971 (0) 52 428 3908</td>
                    </tr>
                    <tr>
                        <td><img alt=""
                                 src="https://ci6.googleusercontent.com/proxy/iCEArIatESNx2NYRFrecW4gUvwZJrNtzS5CpZ_H8KRScaXTfs4w3LqlGnGMoegKK8eHxjrOX7bmicuBvosZin6vYw3kT2SQGgnA=s0-d-e1-ft#http://demo2.arkinfosoft.com/sign/sign_joss/mail.png"
                                 width="20" height="20" class="CToWUd"></td>
                        <td><a href="mailto:team@visage.ae"
                               style="color:rgb(115,117,120);font-size:10pt;text-decoration:none"
                               target="_blank"><span
                                class="il">team</span>@visage.ae</a></td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
    <img alt=""
         src="https://ci4.googleusercontent.com/proxy/Ov3ndSHRsGme0W0xWdIyyjkmC5W-NGFMUW3ghlisV5a_AfUill836bvB2wrJdHJ6oiRGIfnyq3ycCR2y-FA-YWQ1nrWbSJjS=s0-d-e1-ft#http://demo2.arkinfosoft.com/sign/sign_joss/s2.png"
         class="CToWUd"><br><br>
</div>
